/*global*/
input:not([type]), 
input[type="color"], 
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="tel"], 
input[type="url"], 
input[type="text"] {
	@include inputs;
	&:focus {
		@include transition(all, 0.2s, ease-in-out);
		-moz-box-shadow: #959290 0 0 7px;
		-webkit-box-shadow: #959290 0 0 7px;
		box-shadow: #959290 0 0 7px;
		outline: none;
	}
}
input[type="button"], 
input[type="submit"], 
input[type="reset"],
//input[type="file"], 
button {
	@include buttons;
}
textarea {
	@include inputs (129px);
	&:focus {
		@include transition(all, 0.2s, ease-in-out);
		-moz-box-shadow: #959290 0 0 7px;
		-webkit-box-shadow: #959290 0 0 7px;
		box-shadow: #959290 0 0 7px;
		outline: none;
	}
}

.button-negative { 
	@include buttons ("negative");
}


.attach-files {
	color: $color-dark;
	input { margin-bottom: 10px; }
	#list {
		.attach {
			display: block;
			padding: 8px 30px 8px 25px;
			color: #fff;
			font-size: $font-size-small;
			background: $color-dark;
			position: relative;
			margin-bottom: 10px;
			&:before {
				content: "";
				display: block;
				position: absolute;
				width: 12px;
				height: 22px;
				background: url('#{$path-to-images}/sprites.png') no-repeat -237px -86px;
				left: 7px;
				top: 4px
			}
			.delattach {
				cursor: pointer;
				position: absolute;
				right: 5px;
				top: 5px;
			}
		}
		.attach+.attach {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}
