.pre-msj {
	.content {
		.content-inner {
			.qlink-content {
				.qlink-inner {
					text-align: center;
					padding-bottom: 40px;
					h1 {
						margin-bottom: 30px;
						margin-top: 20px;
					}
				}
			}
		}
	}
}