// Read mjs ============================================= //
	
	/* Add this attribute to the element that needs a tooltip */
	[data-tooltip] {
		position: relative;
		z-index: 100000;
		cursor: pointer;
	}

	/* Hide the tooltip content by default */
	[data-tooltip]:before,
	[data-tooltip]:after {
	  visibility: hidden;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
		pointer-events: none;
	}

	/* Position tooltip above the element */
	[data-tooltip]:before {
		position: absolute;
		bottom: 150%;
		left: 50%;
		margin-bottom: 5px;
		margin-left: -164px;
		padding: 7px;
		width: 160px;
		-webkit-border-radius: 3px;
		-moz-border-radius:    3px;
		border-radius:         3px;
		background-color: #000;
		background-color: hsla(0, 0%, 20%, 0.9);
		color: #fff;
		content: attr(data-tooltip);
		text-align: center;
		font-size: 14px;
		line-height: 1.2;
	}

	/* Triangle hack to make tooltip look like a speech bubble */
	[data-tooltip]:after {
		position: absolute;
		bottom: 150%;
		left: 50%;
		margin-left: -5px;
		width: 0;
		border-top: 5px solid #000;
		border-top: 5px solid hsla(0, 0%, 20%, 0.9);
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		content: " ";
		font-size: 0;
		line-height: 0;
	}

	/* Show tooltip content on hover */
	[data-tooltip]:hover:before,
	[data-tooltip]:hover:after {
		visibility: visible;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}

	/********************************************************/
	/* Add this attribute to the element that needs a tooltip */
	[data-tooltip-l] {
		position: relative;
		z-index: 100000;
		cursor: pointer;
	}

	/* Hide the tooltip content by default */
	[data-tooltip-l]:before,
	[data-tooltip-l]:after {
	  visibility: hidden;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
		pointer-events: none;
	}

	/* Position tooltip above the element */
	[data-tooltip-l]:before {
		position: absolute;
		bottom: 150%;
		left: 5%;
		margin-bottom: 5px;
		padding: 7px;
		width: 160px;
		-webkit-border-radius: 3px;
		-moz-border-radius:    3px;
		border-radius:         3px;
		background-color: #000;
		background-color: hsla(0, 0%, 20%, 0.9);
		color: #fff;
		content: attr(data-tooltip-l);
		text-align: center;
		font-size: 14px;
		line-height: 1.2;
	}

	/* Triangle hack to make tooltip look like a speech bubble */
	[data-tooltip-l]:after {
		position: absolute;
		bottom: 150%;
		left: 50%;
		margin-left: -5px;
		width: 0;
		border-top: 5px solid #000;
		border-top: 5px solid hsla(0, 0%, 20%, 0.9);
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		content: " ";
		font-size: 0;
		line-height: 0;
	}

	/* Show tooltip content on hover */
	[data-tooltip-l]:hover:before,
	[data-tooltip-l]:hover:after {
		visibility: visible;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}

	.read-msj {
		background: none;
		//header
		.header  {}
		//content
		.logo {
			.version {
				right: -36px !important;
			}
		}
		.qlink-read {
			background: url("../images/textura_transparente.png") repeat 0px 0px;
			padding: 0.938em;
			margin-bottom: 15px;
			.header-msj {
				background: $color-primary-color;
				padding: 3px;
				position: relative;
				height: 25px;
				.icon {
					float: left;
					width: 32px;
					height: 33px;
					background: url('#{$path-to-images}/sprites.png') no-repeat -70px -93px;
					margin-top: -8px;
					margin-left: 1px;
				}
				.title {
					color: $color-second-text;
					font-size: $font-size-base;
					padding: 1px 0px 0 40px;
					position: absolute;
				}
				.attach-file { 
					float: right;
					width: 16px;
					height: 25px;
					display: none;
					background: url('#{$path-to-images}/sprites.png') no-repeat -185px -83px;
					margin-right: 2px;
				}
			}
			.qlink-msj {
				padding: 13px 15px;
				min-height: 150px;
				background: #fff;
				max-height: 360px;
				overflow-y: auto;
				.qlink-msj-inner {
					.hash_result_area {
						word-break: break-word;
						background: #ffffff;
						width:100%;
					}
					.hash_result_area[disabled] {
                                                word-break: break-word;
						background: #ffffff;
						width:100%;
                                        }
					.hash_result_area_i {
						resize: vertical;
						height: auto;
						width:100%;
						float: left;
						display: block;
						border-radius: 4px;
						background: #FDFDFD;
						max-width:90%;
						padding: 11px;
						margin-bottom: 5px;
						box-shadow: 1px 1px 3px #9f9f9f;
					}
					.hash_result_area_p {
						resize: vertical;
						height: auto;
						width:100%;
						float: right;
						display: block;
						border-radius: 4px;
						background: #F0FFFF;
						max-width:90%;
						padding: 11px;
						margin-bottom: 5px;
						box-shadow: 1px 1px 3px #9f9f9f;
					}
					.tx-res-one-only {	
						max-height: 300px;
						width: 100%;
						min-height: 300px;
					}
				}
			}
			.imprint_data {
				text-align: right;
                                width: 100%;
                                background: #f3f3f3;
				span {
					padding: 5px;
					display: block;
					font-size: 13px;
				}
                        }
			//attach files
			.mjs-attach-files {
				padding: 15px;
				.mjs-attach-files-inner {
					.attach-header {
						border-bottom: 1px solid $color-line;
						margin-bottom: 7px;
						h4 {
							font-family: "droidsans_bold";
							font-size: $font-size-regular;
							color: #ffffff;
						}
						.tool-dl-all {
							float: right;
							width: 24px;
							height: 24px;
							margin-left: -10px;
							margin-top: -24px;
							margin-right: 3px;
							@include transition(all, 0s, ease-in-out);
							background: url('#{$path-to-images}/sprites.png') no-repeat -185px -50px;
							&:hover {
								background: url('#{$path-to-images}/sprites.png') no-repeat -218px -50px;
							}
						}
					}
					ul.attach-file {
						li {
							padding: 3px 5px 3px 5px;
							background: #ffffff;
							a {
								color: $color-primary-text;
								@include transition(all, 0s, ease-in-out);
								.icon {
									float: left;
									width: 17px;
									height: 25px;
									margin-right: 8px;
									background: url('#{$path-to-images}/sprites.png') no-repeat -211px -85px;;
								}
								.file-name {
									float: left;
									font-size: $font-size-small;
									margin-top: 5px;
								}
								.tool-dl {
									float: right;
								}
							}
						}

						li:hover {
							padding-left: 5px;
							background: $color-primary-color;
							a {
								color: $color-second-text;
								.icon {
									float: left;
									width: 17px;
									height: 25px;
									margin-right: 8px;
									background: url('#{$path-to-images}/sprites.png') no-repeat -235px -85px;;
								}
								.file-name {
									float: left;
									font-size: $font-size-small;
									margin-top: 5px;
								}
								.tool-dl {
									float: right;
									width: 20px;
									height: 25px;
									background: url('#{$path-to-images}/sprites.png') no-repeat -286px -49px;
									 &:hover {
										background: url('#{$path-to-images}/sprites.png') no-repeat -254px -49px;
									}
								}
							}
						}
					}
				}
			}

		}
	}
// ====================================================== //
