// Header =============================================== //
	.header {
		background: $color-footer;
	}

	// logo
	.logo {
		float: left;
		position: relative;
		margin-bottom: -8px;
		a {
			display: block;
			background: url('#{$path-to-images}/sprites.png') no-repeat -5px -4px;
			width: 99px;
			height: 40px;
			@include no-transition;
			&:hover {
				background-position: -5px -45px;
			}
		}
		.version {
			position: absolute;
			font-size: $font-size-tiny;
			top: 2px;
			right: -14px;
		}
	}

	// main meu
	.main-menu {
		float: left;
		margin-top: 5px;
		margin-left: 40px;
		ul {
			li {
				display: inline-block;
				margin-right: $gutter;
				a {
					font-size: $font-size-regular;
					color: $color-main-menu-text;
					&:hover { color: $color-main-menu-text-hover; }
				}
			}
			li.active a { 
				color: $color-main-menu-text-hover;
				text-shadow: 0px 0px 1px;
			}
		}
	}

	// social icons
	.social-icons {
		float: right;
		margin-top: 6px;
		.social-icon {
			float: left;
			margin: 0 1px;
			a {
				width: 20px;
				height: 20px;
				display: block;
				line-height: 0px;
			}
		}
		.social-icon-in a { background: url('#{$path-to-images}/sprites.png') no-repeat -105px 0px; }
		.social-icon-tw a { background: url('#{$path-to-images}/sprites.png') no-repeat -127px 0px; }
		.social-icon-fb a { background: url('#{$path-to-images}/sprites.png') no-repeat -148px 0px; }
		.social-icon-g a  { background: url('#{$path-to-images}/sprites.png') no-repeat -169px 0px; }
		.social-icon-rss a{ background: url('#{$path-to-images}/sprites.png') no-repeat -191px 0px; }

		.social-icon-in a:hover { background-position: -105px 0px; }
		.social-icon-tw a:hover { background-position: -127px 0px; }
		.social-icon-fb a:hover { background-position: -148px 0px; }
		.social-icon-g a:hover  { background-position: -169px 0px; }
		.social-icon-rss a:hover{ background-position: -191px 0px; }
	}

	// feedback-button
	.feedback-button a {
		float: right;
		background: $color-primary-color url('#{$path-to-images}/sprites.png') no-repeat -257px -87px;
		color: $color-second-text;
		font-size: $font-size-regular;
		padding: 4px 7px 3px 22px;
		line-height: 13px;
		margin-top: 6px;
		margin-left: 10px;
	}
// ====================================================== //