// Layout =============================================== //
	.header {
		.header-inner {
			max-width: $site-width;
			margin: 0 auto;
		}
	}
	.content {
		max-width: $site-width;
		margin: 0 auto 50px auto;
	}

// ====================================================== //